<mat-card class="example-card mar-t-20">
    <mat-card-header>
        <mat-card-title>
            <h4>Form Validation</h4>
        </mat-card-title>
        <mat-card-subtitle>
            <ul>
                <li>原生的HTML表单验证器</li>
                <li>每当表单控件中的值发生变化时，Angular 就会进行验证</li>
                <li>生成一个验证错误的列表（对应着INVALID状态）或者null（对应着VALID状态）</li>
                <li>可以通过把ngModel导出成局部模板变量来查看该控件的状态</li>
            </ul>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h4>模板驱动验证</h4>
        <form #formData="ngForm">
            <div class="form-group">
                <label>name:</label>
                <input type="text" id="name" name="name" class="form-control"
                       required minlength="4" appForbiddenName="bbbb"
                       [(ngModel)]="model.name" #name="ngModel"
                       autocomplete="off">
            </div>

            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                 class="alert alert-danger">

                <div *ngIf="name.errors.required">
                    必填.
                </div>
                <div *ngIf="name.errors.minlength">
                    最少4位.
                </div>
                <div *ngIf="name.errors.forbiddenName">
                    Name cannot be bbbb.
                </div>
            </div>
        </form>
        <h5>验证说明：</h5>
        <ul>
            <li>自带的验证属性：required/minlength</li>
            <li>
                <p>#name="ngModel"把 NgModel 导出成了一个名叫 name 的局部变量</p>
                <p>NgModel 把自己控制的 FormControl 实例的属性映射出去，让你能在模板中检查控件的状态，比如 valid 和 dirty</p>
            </li>
            <li>
                div 元素的 *ngIf 揭露了一套嵌套消息 divs，但是只在有“name”错误和控制器为 dirty 或者 touched
            </li>
            <li>
                每个嵌套的 div 为其中一个可能出现的验证错误显示一条自定义消息。比如 required、minlength 和 forbiddenName
            </li>
        </ul>
        <h5>注意：</h5>
        <h6>产生问题：</h6>
        <p>还没有编辑过表单的时候就显示错误提示</p>
        <h6>解决方法：</h6>
        <p> 对 dirty 和 touched 的检查可以避免这种问题</p>
        <p>改变控件的值会改变控件的 dirty（脏）状态，而当控件失去焦点时，就会改变控件的 touched（碰过）状态</p>
        
        <h4>响应式表单验证</h4>
        <p>不应该通过模板上的属性来添加验证器，而应该在组件类中直接把验证器函数添加到表单控件模型上（FormControl）</p>
        
        <h5>验证器函数</h5>
        <p class="f-c-999">同步验证器和异步验证器</p>
        <ul>
            <li>
                <p>原理：同步验证器函数接受一个控件实例，然后返回一组验证错误或 null</p>
                <p>使用：可以在实例化一个 FormControl 时把它作为构造函数的第二个参数传进去</p>
            </li>
            <li>
                <p>原理：异步验证器函数接受一个控件实例，并返回一个承诺（Promise）或可观察对象（Observable），它们稍后会发出一组验证错误或者 null</p>
                <p>使用：可以在实例化一个 FormControl 时把它作为构造函数的第三个参数传进去</p>
            </li>
        </ul>
        
        <h5>注意：</h5>
        <p>出于性能方面的考虑，只有在所有同步验证器都通过之后，Angular 才会运行异步验证器</p>
        <p>当每一个异步验证器都执行完之后，才会设置这些验证错误</p>
        
        <h5>template driven的 form validation</h5>
        <form [formGroup]="responseGroup" onvalidate>
            <div class="form-group">
                <label>responseName: </label>
                <input type="text" matInput formControlName="responseName" placeholder="responseName:">
            </div>
            <div class="alert alert-danger" *ngIf="formErrors.responseName">
                {{ formErrors.responseName }}
            </div>
            
            <p>{{responseGroup.get('responseName').value}}</p>
            <p>{{responseGroup.get('responseName').status}}</p>
        </form>
        
        <h5>reactive form validation</h5>
        <!--<from [formGroup]="reactiveGroup">-->
            <!--<nz-input [formControl]="reactiveFormCtrl" [nzId]="'name'"></nz-input>-->
            <!--<ng-container *ngIf="validateFormControl(formCtrl).invalid">-->
                <!--<p class="alert alert-danger">{{validateFormControl(formCtrl).messages}}</p>-->
            <!--</ng-container>-->
        <!--</from>-->
    </mat-card-content>
</mat-card>
