<table class="table table-hover table-bordered">
    <tr>
      <td>scaffold</td>
      <td>Usage</td>
    </tr>
    <tr>
      <td>Component</td>
      <td>ng g component my-new-component</td>
    </tr>
    <tr>
      <td>Directive</td>
      <td>ng g directive my-new-directive</td>
    </tr>
    <tr>
      <td>Pipe</td>
      <td>ng g pipe my-new-pipe</td>
    </tr>
    <tr>
      <td>Service</td>
      <td>ng g service my-new-service</td>
    </tr>
    <tr>
      <td>Class</td>
      <td>ng g class my-new-class</td>
    </tr>
    <tr>
      <td>Interface</td>
      <td>ng g interface my-new-interface</td>
    </tr>
    <tr>
      <td>Enum</td>
      <td>ng g enum my-new-enum</td>
    </tr>
    <tr>
      <td>Module</td>
      <td>ng g module my-new-module</td>
    </tr>
</table>