<mat-card class="example-card mar-t-20">
    <mat-card-header>
        <mat-card-title>
            <h4>响应式表单</h4>
        </mat-card-title>
        <mat-card-subtitle>
            <ul>
                <li>ReactiveFormsModule</li>
                <li>数据模型（通常接收自服务器）之间显式的管理数据流</li>
                <li>并且用一个UI导向的表单模型来保存屏幕上HTML控件的状态和值</li>
                <li>模板驱动表单是异步工作的</li>
                <li>响应式表单是同步的。模板驱动表单是异步的。</li>
            </ul>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        
    </mat-card-content>
</mat-card>