<mat-card class="example-card mar-t-20">
    <mat-card-header>
        <mat-card-title>
            <h4>响应式表单</h4>
        </mat-card-title>
        <mat-card-subtitle>
            <ul>
                <li>ReactiveFormsModule</li>
                <li>数据模型（通常接收自服务器）之间显式的管理数据流</li>
                <li>并且用一个UI导向的表单模型来保存屏幕上HTML控件的状态和值</li>
                <li>模板驱动表单是异步工作的</li>
                <li>响应式表单是同步的。模板驱动表单是异步的。</li>
            </ul>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h3>实例</h3>
        <app-form-response-list></app-form-response-list>
        <h4 class="mar-t-10">代码描述</h4>
        <ul>
            <li>FormControl构造函数接收三个可选参数： 初始值、验证器数组和异步验证器数组</li>
            <li>输入框关联到类中的FormControl型属性name，需要在模板中的input上加一句[formControl]="name"</li>
            <li>
                <h4>核心表单类</h4>
                <ul>
                    <li>
                        <p class="mar-b-0">AbstractControl是三个具体表单类的抽象基类</p>
                        <p class="f-c-999">为它们提供了一些共同的行为和属性，其中有些是可观察对象（Observable）</p>
                    </li>
                    <li>
                        <p class="mar-b-0">FormControl 用于跟踪一个单独的表单控件的值和有效性状态</p>
                        <p class="f-c-999">它对应于一个HTML表单控件，比如输入框和下拉框</p>
                    </li>
                    <li>
                        <p class="mar-b-0">FormGroup用于 跟踪一组AbstractControl的实例的值和有效性状态</p>
                        <p class="f-c-999 mar-b-0">该组的属性中包含了它的子控件</p>
                        <p class="f-c-999">注意: 对应于一个HTML表单控件，比如输入框和下拉框</p>
                    </li>
                    <li>
                        <p class="mar-b-0">FormArray用于跟踪AbstractControl实例组成的有序数组的值和有效性状态</p>
                    </li>
                </ul>
            </li>
        </ul>
        <h5>注意:form元素上的novalidate属性会阻止浏览器使用原生HTML中的表单验证器</h5>
        <p>formGroup是一个响应式表单的指令</p>
        <h5>FormBuilder</h5>
        <ul>
            <li>明确把heroForm属性的类型声明为FormGroup，稍后我们会初始化它</li>
            <li>把FormBuilder注入到构造函数中</li>
            <li>添加一个名叫createForm的新方法，它会用FormBuilder来定义heroForm</li>
            <li>在构造函数中调用createForm</li>
        </ul>
        <h5>注意: 可以使用多级FormGroup进行嵌套</h5>
        <pre>
            this.heroForm = this.fb.group(&#123; // the parent FormGroup
                name: ['', Validators.required ], // 表单验证
                address: this.fb.group(&#123; // the child FormGroup
                    street: '',
                    city: '',
                    state: '',
                    zip: ''
                } ),
                power: '',
                sidekick: ''
            } );
        </pre>
        <pre>
            // 可以使用.get()方法来提取表单中一个单独FormControl的状态
            heroForm.get('name').value

            // 取得FormGroup中的FormControl的状态，使用点语法来指定到控件的路径
            heroForm.get('address.street').value
        </pre>
        <table class="table table-hover table-bordered">
            <tr>
                <th>属性</th>
                <th>说明</th>
            </tr>
            <tr>
                <td>myControl.value</td>
                <td>FormControl的值</td>
            </tr>
            <tr>
                <td>myControl.status</td>
                <td>
                    <p class="mar-b-0">FormControl的有效性</p>
                    <p class="mar-b-0 f-c-999">可能的值有VALID、INVALID、PENDING或DISABLED</p>
                </td>
            </tr>
            <tr>
                <td>myControl.pristine</td>
                <td>
                    <p class="mar-b-0">如果用户尚未改变过这个控件的值，则为true</p>
                    <p class="mar-b-0 f-c-999">总是与myControl.dirty相反</p>
                </td>
            </tr>
            <tr>
                <td>myControl.untouched</td>
                <td>
                    <p class="mar-b-0">如果用户尚未进入这个HTML控件，也没有触发过它的blur（失去焦点）事件，则为true</p>
                    <p class="mar-b-0 f-c-999">是myControl.touched的反义词</p>
                </td>
            </tr>
        </table>
        <h5>数据模型与表单模型</h5>
        <p>组件必须把数据模型中的英雄值复制到表单模型</p>
        <ul>
            <li>数据模型映射到表单模型</li>
            <li>
                <p class="mar-b-0 f-c-999">用户修改时的数据流是从DOM元素流向表单模型的，而不是数据模型</p>
                <p>表单控件永远不会修改数据模型</p>
            </li>
        </ul>
        <h5>使用setValue和patchValue来操纵表单模型</h5>
        <p>异步使用setValue和patchValue来初始化或重置</p>
        <h6>setValue</h6>
        <p class="mar-b-0">可以立即设置每个表单控件的值</p>
        <p class="f-c-999">只要把与表单模型的属性精确匹配的数据模型传进去</p>
        <p>setValue方法会在赋值给任何表单控件之前先检查数据对象的值</p>
        <h6 class="mar-b-0">setValue和patchValue</h6>
        <p class="f-c-999">不会接受一个与FormGroup结构不同或缺少表单组中任何一个控件的数据对象</p>
        <ul>
            <li>patchValue会默默地失败</li>
            <li>setValue会捕获错误，并清晰的报告它</li>
        </ul>
        <h6 class="mar-b-0">patchValue</h6>
        <p class="f-c-999">可以通过提供一个只包含要更新的控件的键值对象来把值赋给FormGroup中的指定控件</p>
        <h5 class="mar-b-0">ngOnChanges</h5>
        <p class="f-c-999">设置表单的模型值</p>
        <pre>
            import &#123; Component, Input, OnChanges }             from '@angular/core';

            @Input() hero: Hero;

            ngOnChanges() &#123;
                this.heroForm.setValue(&#123;
                    name:    this.hero.name,
                    address: this.hero.addresses[0] || new Address()
                });
            }
        </pre>
        <h5 class="mar-b-0">重置表单的标识</h5>
        <p class="f-c-999">调用reset</p>
        <pre>
            this.heroForm.reset();
        </pre>
        <h6 class="mar-b-0">参数设置</h6>
        <p class="f-c-999">reset方法有一个可选的state值，让我们能在重置状态的同时顺便设置控件的值</p>
        <pre>
            ngOnChanges() &#123;
                this.heroForm.reset(&#123;
                    name: this.hero.name,
                    address: this.hero.addresses[0] || new Address()
                });
            }
        </pre>
        <p>内部实现</p>
        <ul>
            <li>首先重置表单标识</li>
            <li>其次reset会把该参数传给了setValue</li>
        </ul>
        <h5 class="mar-b-0">使用FormArray来表示FormGroup数组</h5>
        <p class="f-c-999 mar-b-0">FormGroup是一个命名对象，它的属性值是FormControl和其它的FormGroup</p>
        <p class="f-c-999 mar-b-0">FormArray可以显示一个FormGroup的数组</p>
        <h6>使用FormArray</h6>
        <ul>
            <li>在数组中定义条目（FormControl或FormGroup）</li>
            <li>把这个数组初始化微一组从数据模型中的数据创建的条目</li>
            <li>数组的基本操作</li>
        </ul>
        <pre>
            //  FormArray声明
            this.heroForm = this.fb.group(&#123;
                name: ['', Validators.required ],
                secretLairs: this.fb.array([]), // secretLairs as an empty FormArray
                power: '',
                sidekick: ''
            });

            //  FormArray初始化
            setAddresses(addresses: Address[]) &#123;
                const addressFGs = addresses.map(address => this.fb.group(address));
                const addressFormArray = this.fb.array(addressFGs);
                this.heroForm.setControl('secretLairs', addressFormArray);
            }
        </pre>
        <h5 class="mar-b-0">注意:</h5>
        <p class="f-c-07d mar-b-0">使用FormGroup.setControl方法，而不是setValue方法来设置前一个FormArray</p>
        <p class="f-c-07d mar-b-0">替换的是控件，而不是控件的值</p>
    </mat-card-content>
</mat-card>