<mat-card class="example-card mar-t-20">
    <mat-card-header>
        <mat-card-title>
            <h4>Animations</h4>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="button-row">
            <button mat-raised-button [@stateStyle]="stateContent.state" (click)="change()">{{stateContent.name}}</button>
        </div>
        <p>在模板中用[@animationName]语法来把它附加到一个或多个元素上</p>
        <img *ngIf="flyInOutInspect" [@flyInOut] src="https://angular.cn/generated/images/guide/animations/ng_animate_transitions_inactive_active.png" class="max-width-50p">
        <div class="button-row">
            <button mat-raised-button (click)="hide()">动画载入</button>
        </div>
        <h4>*(通配符)状态</h4>
        <p>*(通配符)状态匹配任何动画状态</p>
        <ul>
            <li>当该元素的状态从active变成任何其它状态时，active => *转场都会生效</li>
            <li>当在任意两个状态之间切换时，* => *转场都会生效</li>
        </ul>
        <img src="https://angular.cn/generated/images/guide/animations/ng_animate_transitions_inactive_active_wildcards.png" class="max-width-50p">
        <h4>void状态</h4>
        <ul>
            <li>表示元素没有被附加到视图。这种情况可能是由于它尚未被添加进来或者已经被移除了</li>
            <li>当一个元素离开视图时，* => void转场就会生效，而不管它在离场以前是什么状态</li>
        </ul>
        <img src="https://angular.cn/generated/images/guide/animations/ng_animate_transitions_void_in.png" class="max-width-50p">
        <p>*通配符状态也能匹配void</p>
        <h5>使用void和*状态，可以定义元素进场与离场时的转场动画</h5>
        <ul>
            <li>进场：void => *</li>
            <li>离场：* => void</li>
        </ul>
        <h4>动画时间线</h4>
        <ul>
            <li>持续时间(duration)</li>
            <li>延迟(delay)</li>
            <li>缓动(easing)函数</li>
        </ul>
        <a href="https://angular.cn/guide/animations">看动画线后面的</a>
    </mat-card-content>
</mat-card>