<nz-card nzTitle="动态表单" [nzExtra]="extraTemplate" class="m-t-10">
    <p>特别像react的创建的表单</p>
    <h5>实现步奏：</h5>
    <ul>
        <li>
            <p>1.定义一个对象模型，用来描述所有表单功能需要的场景(DynamicBase)</p>
            <p>两个新类 Textbox 和 Dropdown，分别代表文本框和下拉框</p>
        </li>
        <li>
            <p>2.dynamicService，一个可以把原始数据转换为 FormGroup 的服务</p>
        </li>
        <li>
            <p>然后就是使用ngFor循环和ngSwitch渲染别的就没啥了</p>
        </li>
    </ul>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngFor="let dynamic of dynamicData" class="form-row">
            
            <label [attr.for]="dynamic.key">{{dynamic.label}}</label>
            
            <div [ngSwitch]="dynamic.controlType">
    
                <input *ngSwitchCase="'textbox'" [formControlName]="dynamic.key"
                        [id]="dynamic.key" [type]="dynamic.type">
    
                <select [id]="dynamic.key" *ngSwitchCase="'dropdown'" [formControlName]="dynamic.key">
                    <option *ngFor="let opt of dynamic.options" [value]="opt.value">{{opt.value}}</option>
                </select>
                
            </div>
            
            <div class="errMessage" *ngIf="!isValid">{{dynamic.label}} is required</div>
            
        </div>
        
        <div class="form-row">
            <button type="submit" [disabled]="!form.valid">Save</button>
        </div>
    </form>
    <div *ngIf="payLoad" class="form-row">
        <strong>Saved the following values</strong><br>
        {{payLoad}}
    </div>
</nz-card>
<ng-template #extraTemplate>
    <a>More</a>
</ng-template>
