<mat-card class="example-card mar-t-20">
    <mat-card-header>
        <mat-card-title>HTML attribute 与 DOM property 的对比</mat-card-title>
        <mat-card-subtitle>描述</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li>attribute 初始化 DOM property，然后它们的任务就完成了</li>
            <li>property 的值可以改变；attribute 的值不能改变</li>
            <li>模板绑定是通过 property 和事件来工作的，而不是 attribute。</li>
        </ul>
    </mat-card-content>
    <a href="https://angular.cn/guide/template-syntax">有时间再进行整理</a>
</mat-card>