<header>
    <nav class="navbar navbar-expand-sm navbar-dark" [hidden]="true">
        <a class="pad-l-2em navbar-brand" routerLink="home">首页</a>
        <div class="pad-l-5em collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li *ngFor="let item of routerLinkArr; let i = index" class="nav-item dropdown" [ngClass]="{'b-g-c-fff': acxtiveRouterName.indexOf(item.routerLink) > 0}">
                    <a class="pad-l-05em pad-r-05em" [ngClass]="{true: 'f-c-999', false: 'f-c-fff'}[acxtiveRouterName.indexOf(item.routerLink) > 0]"
                        [routerLink]="[item.routerLink]">
                        {{item.routerName}}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <mat-toolbar class="navbar flex-left">
        <span routerLink="home">首页</span>
        <!-- <mat-tab-group class="mar-l-10">
            <mat-tab *ngFor="let item of routerLinkArr; let i = index" label="{{item.routerName}}" routerLinkActive="active" [routerLink]="[item.routerLink]"></mat-tab>
        </mat-tab-group> -->
        <!-- <div class="button-row mar-l-10">
            <button *ngFor="let item of routerLinkArr; let i = index" routerLinkActive="active" [routerLink]="[item.routerLink]">{{item.routerName}}</button>
        </div> -->
        <mat-chip-list class="mar-l-10">
            <mat-chip *ngFor="let item of routerLinkArr; let i = index" routerLinkActive="active" [routerLink]="item.routerLink">{{item.routerName}}</mat-chip>
        </mat-chip-list>
    </mat-toolbar>
</header>
<main role="main" class="main">
    <router-outlet></router-outlet>
</main>
<!-- 底部区域 -->
<footer class="pad-t-1em pad-b-1em text-muted b-g-c-111">
    <div class="">Powered by angular2</div>
</footer>
<!-- <mat-checkbox>Check me!</mat-checkbox> -->