<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	自定义事件
	基本概念:Vue 实例实现了一个自定义事件接口，用于在组件树中通信
		注意:这个事件系统独立于原生 DOM 事件
	概念描述:每个 Vue 实例都是一个事件触发器
		1.使用 $on() 监听事件
		2.使用 $emit() 在它上面触发事件
		3.使用 $dispatch() 派发事件，事件沿着父链冒泡
		4.使用 $broadcast() 广播事件，事件向下传导给所有的后代
	代码示例:子组件可以用 this.$parent 访问它的父组件,而父组件有一个数组 this.$children包含它所有的子元素
	<!-- 子组件模板 -->
	<template id="child-template">
		<input type="text" v-model="msg" />
		<button v-on:click="notify">Dispath Event</button>
	</template>
	<!-- 父组件模板 -->
	<div id="events-example">
		<p>Messages: {{message | json}}</p>
		<child></child>
	</div>
	// 注册子组件
	// 将当前消息派发出去
	Vue.component('child', {
		template: '#child-template',
		data: function(){
			return {msg: 'Hello'}
		},
		methods: {
			notify: function(){
				if(this.msg.trim()){
					this.$dispatch('child-msg', this.msg)
					this.msg = ""
				}
			}
		}
	})
	// 启动父组件
	// 将收到消息时将事件推入一个数组
	var parent = new Vue({
		el:'#events-example',
		data: {
			messages: []
		},
	// 在创建实例时 `events` 选项简单地调用 `$on`
	events: {
		'child-msg': function(msg) {
		// 事件回调内的 `this` 自动绑定到注册它的实例上
		this.messages.push(msg)
		}
	}
	})
	<script src="../vue.js"></script>
	<body>
		<div id="example">
			<template id="child-template">
				<input type="text" v-model="msg" />
				<button v-on:click="notify">Dispath Event</button>
			</template>
			<!-- 父组件模板 -->
			<div id="events-example">
				<p>Messages: {{messages | json}}</p>
				<child></child>
			</div>
		</div>
	</body>
	<script>
		//在这里面写Vue.js代码
		// 注册子组件
		// 将当前消息派发出去
		Vue.component('child', {
			template: '#child-template',
			data: function(){
				return {msg:'Hello'}
			},
			methods: {
				notify: function(){
					if(this.msg.trim()) {
						this.$dispatch('child-msg', this.msg)
						this.msg = ""
					}
				}
			}
		})
		// 启动父组件
		// 将收到消息时将事件推入一个数组
		var parent = new Vue({
			el:'#events-example',
			data: {
				messages: []
			},
		// 在创建实例时 `events` 选项简单地调用 `$on`
		events: {
			'child-msg' : function(msg) {
				// 事件回调内的 `this` 自动绑定到注册它的实例上
				this.messages.push(msg)
			}
		}
			
		})
	</script>
</html>
