<!-- <p>{{name}}</p>
<span>{{content}}</span> -->
<mat-card-header>
    <mat-card-title>{{name}}</mat-card-title>
    <mat-card-subtitle>{{content}}</mat-card-subtitle>
</mat-card-header>
<mat-card-header [hidden]="!logShow">
    <mat-card-subtitle *ngFor="let item of changeLog" class="f-c-999">{{item}}</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
    <button class="button-row" [hidden]="!buttonShow">
        <button mat-raised-button (click)="setVote(true)">true</button>
        <button mat-raised-button (click)="setVote(false)">false</button>
    </button>
    <p [hidden]="!serviceShow">
        {{astronaut}}:
        <strong>{{mission}}</strong>
        <button (click)="confirm()" [disabled]="!announced || confirmed">
            Confirm
        </button>
    </p>
</mat-card-content>