<div class="container-fluid">
    <h4>router重点使用</h4>
    <table class="table table-hover table-bordered">
        <tr>
            <td>routes</td>
            <td>声明路由结构的对象</td>
        </tr>
        <tr>
            <td>router</td>
            <td>在component中使用的路由对象</td>
        </tr>
        <tr>
            <td>activeRouter</td>
            <td>当前激活的路有对象一般用于参数获取</td>
        </tr>
        <tr>
            <td>router-outlet</td>
            <td>路由插座（也可用来区分辅助路由）</td>
        </tr>
    </table>
    <h4>router——细节 知识点</h4>
    <dt>路由引用</dt>
    <dd>"import { RouterModule, Routes } from '@angular/router';"</dd>
    <dt>实例</dt>

</div>
