<div class="container-fluid">
    <h4>router重点使用</h4>
    <table class="table table-hover table-bordered">
        <tr>
            <td>routes</td>
            <td>声明路由结构的对象</td>
        </tr>
        <tr>
            <td>router</td>
            <td>在component中使用的路由对象</td>
        </tr>
        <tr>
            <td>activeRouter</td>
            <td>当前激活的路有对象一般用于参数获取</td>
        </tr>
        <tr>
            <td>router-outlet</td>
            <td>路由插座（也可用来区分辅助路由）</td>
        </tr>
    </table>
    <h4>routes——细节 知识点</h4>
    <dt>路由引用</dt>
    /**
    * 账单日汇总月汇总controller
    * author: Lulin
    * date:  2016年12月21日
    */
    <dd>
        import &#123; RouterModule, Routes &#125; from '@angular/router';
    </dd>
    <dt>实例</dt>
    <dd>
        <pre>
            const appRoutes: Routes = [
                &#123;  
                    path: 'crisis-center/:id', 
                    component: CrisisListComponent 
                    data: &#123; title: 'Heroes List' &#125;
                &#125;
                &#123; path: '**', component: PageNotFoundComponent &#125;
            ]

            @NgModule(&#123;
                imports: [
                    RouterModule.forRoot(
                        appRoutes,
                        &#123; enableTracing: true &#125; //仅用于调试
                    )
                ]
            &#125;)
        </pre>
    </dd>
    <dt>描述：</dt>
    <dd>appRoutes路由数组描述了如何路由,RouterModule.forRoot方法以配置路由器</dd>
    <dd>路由器解析并为您建立最终的URL，允许您在应用程序视图之间路由时使用相对路径和绝对路径</dd>
    <dd>data属性可以在每个激活的路由中访问。
        使用它来存储项目，如页面标题，面包屑文本和其他只读的静态数据</dd>
    <dd>最后一条路径中的**路径是通配符。
        如果请求的URL不匹配配置中前面定义的路由的任何路径，路由器将选择此路由。
        这对于显示“404 - 未找到”页面或重定向到另一个路线很有用。</dd>
    <dd>路由匹配是按顺序匹配的从上到下</dd>
    <dd>
        如果您需要查看路由生命周期中发生的事件，那么enableTracing选项将作为路由器默认配置的一部分。
        这将在每个路由生命周期中发生的每个路由器事件输出到浏览器控制台。
        这应该只用于调试目的。
        在作为RouterModule.forRoot（）方法的第二个参数传递的对象中设置enableTracing：true选项。
    </dd>
    <h4>router-outlet——细节 知识点</h4>
    <dt>简称就是路由插座</dt>
    <dd>
        &#60;router-outlet&#62;&#60;/router-outlet&#62;
        Routed views go here
    </dd>
    <h4>router links——细节 知识点</h4>
    <dt>template 链接跳转</dt>
    <dd>
        <pre>
            template: `
            &#60;h1&#62;Angular Router&#60;/h1&#62;
                &#60;nav&#62;
                    &#60;a routerLink="/crisis-center" routerLinkActive="active"&#62;Crisis Center&#60;/a&#62;
                    &#60;a routerLink="/heroes" routerLinkActive="active"&#62;Heroes&#60;/a&#62;
                &#60;/nav>
            &#60;router-outlet&#62;&#60;/router-outlet&#62;
            `
        </pre>
    </dd>
    <dt>描述</dt>
    <dd>使用routerLink来进行路由跳转</dd>
    <dd>
        RouterLinkActive指令有助于在视觉上区分当前选定的“活动”路由的锚点
        当相关的RouterLink激活时，路由器将激活的CSS类添加到元素
    </dd>
    <h4>router state——细节 知识点</h4>
    <dt>描述</dt>
    <dd>
        在每个成功的路由生命周期结束之后，路由器将构建构成路由器当前状态的ActivatedRoute对象树。
        可以使用路由器服务和routerState属性从应用程序中的任何位置访问当前的RouterState。
    </dd>
    <h4>activeted route——细节 知识点</h4>
    <dt>描述</dt>
    <dd>
        路由路径和参数可以通过一个名为ActivatedRoute的注入路由器服务来获得
    </dd>
    <table class="table table-hover table-bordered">
        <tr>
            <td>Property</td>
            <td>Description</td>
        </tr>
        <tr>
            <td>url</td>
            <td>
                路径路径的可观察性，表示为路径路径每个部分的字符串数组
            </td>
        </tr>
        <tr>
            <td>data</td>
            <td>
                包含为路由提供的数据对象
                包含解析警卫的任何已解决的值
            </td>
        </tr>
        <tr>
            <td>paramMap</td>
            <td>
                包含特定于路由的必需和可选参数的映射
                支持从相同的参数中检索单个和多个值
            </td>
        </tr>
        <tr>
            <td>queryParamMap</td>
            <td>
                包含可用于所有路由的查询参数的映射的Observable
                映射支持从查询参数中检索单个和多个值
            </td>
        </tr>
        <tr>
            <td>fragment</td>
            <td>所有路线可用的URL片段的可视化</td>
        </tr>
        <tr>
            <td>outlet</td>
            <td>用于呈现路由的RouterOutlet的名称</td>
        </tr>
        <tr>
            <td>routeConfig</td>
            <td>包含原始路径的路由的路由配置</td>
        </tr>
        <tr>
            <td>parent</td>
            <td>此路线是子路线时，路线的父级ActivatedRoute</td>
        </tr>
        <tr>
            <td>firstChild</td>
            <td>包含此路由的子路由列表中的第一个ActivatedRoute</td>
        </tr>
        <tr>
            <td>children</td>
            <td>包含当前路线下激活的所有子路线</td>
        </tr>
    </table>
    <h5>注意</h5>
    <h6>两个较旧的属性仍然可用</h6>
    <dt>params</dt>
    <dd>
        包含特定于路由的必需参数和可选参数的Observable。
        改用paramMap
    </dd>
    <dt>queryParams</dt>
    <dd>
        包含可用于所有路由的查询参数的Observable。
        改用queryParamMap
    </dd>
    <h4>Router events——细节 知识点</h4>
    <h5>Router.events事件描述</h5>
    <table>
        <tr>
            <td>NavigationStart</td>
            <td>路由启动时触发的事件</td>
            <td>
                <dt>package</dt>
                <dd>@angular/router</dd>
                <dt>module</dt>
                <dd>import &#123; NavigationStart &#125; from '@angular/router';</dd>
            </td>
        </tr>
        <tr>
            <td>RoutesRecognized</td>
            <td>路由器解析URL和路由时触发的事件</td>
            <td>
                <dt>package</dt>
                <dd>@angular/router</dd>
                <dt>module</dt>
                <dd>import &#123; RoutesRecognized &#125; from '@angular/router';</dd>
            </td>
        </tr>
        <tr>
            <td>RouteConfigLoadStart</td>
            <td>路由器延迟加载路由配置之前触发的事件</td>
            <td>
                <dt>package</dt>
                <dd>@angular/router</dd>
                <dt>Module</dt>
                <dd>import &#123; RouteConfigLoadStart &#125; from '@angular/router';</dd>
            </td>
        </tr>
        <tr>
            <td>RouteConfigLoadEnd</td>
            <td>延迟加载路由后触发的事件</td>
            <td>
                <dt>package</dt>
                <dd>@angular/router</dd>
                <dt>Module</dt>
                <dd>import &#123; RouteConfigLoadEnd &#125; from '@angular/router';</dd>
            </td>
        </tr>
        <tr>
            <td>NavigationEnd</td>
            <td>路由成功结束时触发的事件。</td>
            <td>
                <dt>package</dt>
                <dd>@angular/router</dd>
                <dt>Module</dt>
                <dd>import &#123; NavigationEnd &#125; from '@angular/router';</dd>
            </td>
        </tr>
        <tr>
            <td>NavigationCancel</td>
            <td>
                路由取消时触发的事件
                这是由于路由卫士在路由过程中返回错误
            </td>
            <td>
                <dt>package</dt>
                <dd>@angular/router</dd>
                <dt>Module</dt>
                <dd>import &#123; NavigationCancel &#125; from '@angular/router';</dd>
            </td>
        </tr>
        <tr>
            <td>NavigationError</td>
            <td>
                由于意外错误导致路由失败时触发的事件
            </td>
            <td>
                <dt>package</dt>
                <dd>@angular/router</dd>
                <dt>Module</dt>
                <dd>import &#123; NavigationError &#125; from '@angular/router';</dd>
            </td>
        </tr>
    </table>
    <h5>由于事件是作为Observable所以可以订阅这些相关参数</h5>
    <h2>总结</h2>
    <table>
        <thead>
            <tr>
                <th>Router Part</th>
                <th>Meaning</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Router</td>
                <td>
                    显示活动URL的应用程序组件
                    管理从一个组件到下一个组件的路由
                </td>
            </tr>
            <tr>
                <td>RouterModule</td>
                <td>
                    一个单独的NgModule
                    提供必要的服务提供者和指令来浏览应用程序视图
                </td>
            </tr>
            <tr>
                <td>Routes</td>
                <td>
                    定义一个路由数组，每个路由将一个URL路径映射到一个组件
                </td>
            </tr>
            <tr>
                <td>Route</td>
                <td>
                    定义路由器如何根据URL模式路由到组件
                    大多数路由由路径和组件类型组成
                </td>
            </tr>
            <tr>
                <td>RouterOutlet</td>
                <td>
                    指示路由器显示视图的指令（&#60;router-outlet&#62;）
                </td>
            </tr>
            <tr>
                <td>RouterLink</td>
                <td>
                    将可点击的HTML元素绑定到路由的指令
                    单击具有绑定到字符串或链接参数数组的routerLink指令的元素将触发路由
                </td>
            </tr>
            <tr>
                <td>RouterLinkActive</td>
                <td>
                    当包含在元素上或内部的相关联的routerLink变为活动/不活动时，
                    用于从HTML元素添加/移除类的指令
                </td>
            </tr>
            <tr>
                <td>ActivatedRoute</td>
                <td>
                    提供给每个路由组件的服务，
                    包含路由特定信息，如路由参数，静态数据，解析数据，全局查询参数和全局片段
                </td>
            </tr>
            <tr>
                <td>RouterState</td>
                <td>
                    路由器的当前状态包括当前激活的路由树以及遍历路由树的简便方法
                </td>
            </tr>
            <tr>
                <td>Link parameters array</td>
                <td>
                    路由器解释为路由指令的数组
                    可以将该数组绑定到RouterLink，或者将该数组作为参数传递给Router.navigate方法
                </td>
            </tr>
            <tr>
                <td>Routing component</td>
                <td>
                    一个带有RouterOutlet的角度组件，用于显示基于路由器路由的视图
                </td>
            </tr>
        </tbody>
    </table>
</div>
