<mat-card class="example-card mar-t-20">
    <mat-card-header>
        <mat-card-title>
            <h4>模版型表单</h4>
        </mat-card-title>
        <mat-card-subtitle>
            <ul>
                <li>用组件和模板构建 Angular 表单</li>
                <li>用ngModel创建双向数据绑定，以读取和写入输入控件的值</li>
                <li>跟踪状态的变化，并验证表单控件</li>
                <li>使用特殊的CSS类来跟踪控件的状态并给出视觉反馈</li>
                <li>向用户显示验证错误提示，以及启用/禁用表单控件</li>
                <li>使用模板引用变量在 HTML 元素之间共享信息</li>
            </ul>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h4>模板驱动的表单</h4>
        <div [hidden]="submitted">
            <h5>input form</h5>
            <form (ngSubmit)="onSubmit()" #formData="ngForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" required #test #name="ngModel" [(ngModel)]="model.name" name="name">
                </div>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Name is required
                </div>
                <p>{{test.className}}</p>

                <div class="form-group">
                    <label for="alterEgo">Alter Ego</label>
                    <input type="text" class="form-control" id="alterEgo" [(ngModel)]="model.alterEgo" name="alterEgo">
                </div>

                <div class="form-group">
                    <label for="power">Hero Power</label>
                    <select class="form-control" id="power" required [(ngModel)]="model.power" name="power">
                        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
                    </select>
                </div>

                <button mat-raised-button type="submit" class="btn btn-success" [disabled]="!formData.form.valid">Submit</button>
                <button mat-raised-button type="button" (click)="clear()">clear</button>
                <button mat-raised-button type="button" (click)="clear(); formData.reset()">clear formData.reset()</button>
            </form>
        </div>
        <div [hidden]="!submitted">
            <h2>You submitted the following:</h2>
            <div class="row">
                <div class="col-xs-3">Name: </div>
                <div class="col-xs-3  pull-left">{{ model.name }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3">Alter Ego: </div>
                <div class="col-xs-3 pull-left">{{ model.alterEgo }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3">Power: </div>
                <div class="col-xs-3 pull-left">{{ model.power }}</div>
            </div>
            <br>
            <button mat-raised-button class="btn btn-primary" (click)="submitted=false">Edit</button>
        </div>
        <h5>代码描述</h5>
        <ul>
            <li>Angular会在form标签上自动创建并附加一个NgForm指令</li>
            <li>NgForm指令为form增补了一些额外特性</li>
            <li>会控制那些带有ngModel指令和name属性的元素，监听他们的属性（包括其有效性）</li>
            <li>input标签还添加了name属性 (attribute)，并设置为 "name"，表示数据的名字</li>
            <li>每个 input 元素都有id属性，label元素的for属性用它来匹配到对应的输入控件</li>
            <li>每个 input 元素都有name属性，Angular 表单用它注册控件</li>
        </ul>
        <h4>通过 ngModel 跟踪修改状态与有效性验证</h4>
        <p>在表单中使用ngModel可以获得比仅使用双向数据绑定更多的控制权</p>
        <table class="table table-hover table-bordered">
            <tr>
                <th>状态</th>
                <th>为真时的 CSS 类</th>
                <th>为假时的 CSS 类</th>
            </tr>
            <tr>
                <td>控件被访问过</td>
                <td>ng-touched</td>
                <td>ng-untouched</td>
            </tr>
            <tr>
                <td>控件的值变化了</td>
                <td>ng-dirty</td>
                <td>ng-pristine</td>
            </tr>
            <tr>
                <td>控件的值有效</td>
                <td>ng-valid</td>
                <td>ng-invalid</td>
            </tr>
        </table>
        <h5>添加用于视觉反馈的自定义 CSS</h5>
        <img src="https://angular.cn/generated/images/guide/forms/validity-required-indicator.png" class="max-width-50p">
        <h4>小结</h4>
        <ul>
            <li>带有@Component装饰器的表单组件类</li>
            <li>通过绑定到NgForm.ngSubmit事件属性来处理表单提交</li>
            <li>模板引用变量，例如#heroForm和#name</li>
            <li>[(ngModel)]语法用来实现双向数据绑定</li>
            <li>name属性的用途是有效性验证和对表单元素的变更进行追踪</li>
            <li>指向 input 控件的引用变量上的valid属性，可用于检查控件是否有效、是否显示/隐藏错误信息</li>
            <li>通过绑定到NgForm的有效性状态，控制Submit按钮的禁用状态</li>
            <li>定制 CSS 类来给用户提供无效控件的视觉反馈</li>
        </ul>
    </mat-card-content>
</mat-card>
