<h1 class="text-center">Attribute Directives</h1>
<dt>描述</dt>
<dd>Attribute指令改变DOM元素的外观或行为。</dd>
<a href="{{onLineHref}}" target="{{targetType}}">在线实例</a>
<a href="{{downloadHref}}" target="{{targetType}}">实例下载</a>

<h2>Directives overview(概述)</h2>
<dt>Angular有三种指令：</dt>
<ul>
	<li>
		Components-指令与模板。
	</li>
	<li>
		Structural directives-通过添加和删除DOM元素来更改DOM布局。
	</li>
	<li>
		Attribute directives-改变元素，组件或其他指令的外观或行为。
	</li>
</ul>

<h3>Build a simple attribute directive</h3>
<dt>描述</dt>
<dd>一个属性指令最低限度需要构建一个用@Directive注释的控制器类，它指定了标识该属性的选择器。</dd>
<dd>控制器类实现所需的指令行为</dd>
<pre>
	ng generate directive highlight

	import &#123; Directive &#125; from '@angular/core';
	
	@Directive(&#123;
	  selector: '[appHighlight]'
	&#125;)
	export class HighlightDirective &#123;
	  constructor() &#123; &#125;
	&#125;
</pre>
<dd>@Directive元数据到达指令的控制器类（称为HighlightDirective），其中包含该指令（当前为空）的逻辑。</dd>
<dd>导出HighlightDirective使指令可以访问。</dd>
<pre>
	import &#123; Directive, ElementRef &#125; from '@angular/core';

	@Directive(&#123;
		selector: '[appHighlight]'
	&#125;)
	export class HighlightDirective &#123;
		constructor(el: ElementRef) &#123;
		el.nativeElement.style.backgroundColor = 'yellow';
		&#125;
	&#125;
</pre>
<dt>描述</dt>
<dd>import语句从Angular核心库中指定一个额外的ElementRef符号：</dd>
<dd>可以使用指令的构造函数</dd>
<dd>ElementRefin来引用主DOM元素，即应用appHighlight的元素</dd>
<dd>ElementRef通过其nativeElement属性授予对主DOM元素的直接访问权限。</dd>

<h3>Apply the attribute directive</h3>
<dt>描述</dt>
<dd>要使用新的HighlightDirective，请将一个段落（<p>）元素添加到根AppComponent的模板中，并将该指令作为属性</dd>

	
<h3>Respond to user-initiated(发起) events</h3>
<dt>描述</dt>
<dd>可以检测到用户将鼠标移入或移出元素，并通过设置或清除高亮颜色来进行响应</dd>
<dd>首先将HostListener添加到导入的符号列表中</dd>
<pre>
	import &#123; Directive, ElementRef, HostListener &#125; from '@angular/core';

	然后添加两个事件处理程序，当鼠标进入或离开时作出响应，每个由HostListener装饰器装饰

	@HostListener('mouseenter') onMouseEnter() &#123;
		this.highlight('yellow');
	&#125;

	@HostListener('mouseleave') onMouseLeave() &#123;
		this.highlight(null);
	&#125;

	private highlight(color: string) &#123;
		this.el.nativeElement.style.backgroundColor = color;
	&#125;
</pre>
<dt>描述</dt>
<dd>@HostListener修饰器允许你订阅DOM元素的事件，这个DOM元素包含一个属性指令</dd>
<dd>可以通过标准的JavaScript来访问DOM，并手动添加事件监听器</dd>
<ul>
	<li> listeners correctly.</li>
	<li>当指令被销毁时，代码必须分离侦听器以避免内存泄漏</li>
	<li>直接与DOM API directly 不是最佳实践</li>
</ul>
<dd>处理程序委托给设置主DOM元素el的颜色的辅助方法</dd>
<dd>修改后的构造函数只声明注入的el：ElementRef</dd>
<pre>
	constructor(private el: ElementRef) &#123; &#125;
</pre>
<dt>更新后的组件</dt>
<pre>
		import &#123; Directive, ElementRef, HostListener &#125; from '@angular/core';
		
		@Directive(&#123;
		  selector: '[appHighlight]'
		&#125;)
		export class HighlightDirective &#123;
			constructor(private el: ElementRef) &#123; &#125;
		
			@HostListener('mouseenter') onMouseEnter() &#123;
				this.highlight('yellow');
			&#125;
		
			@HostListener('mouseleave') onMouseLeave() &#123;
				this.highlight(null);
			&#125;
		
			private highlight(color: string) &#123;
				this.el.nativeElement.style.backgroundColor = color;
			&#125;
		&#125;
</pre>

<h3>Pass values into the directive with an @Input data binding</h3>
<dt>实现</dt>
<dd>将输入添加到从中导入的符号列表</dd>
<pre>
	import { Directive, ElementRef, HostListener, Input } from '@angular/core';

	Add a highlightColor property to the directive class like this

	@Input() highlightColor: string;
</pre>

<h4>Binding to an @Input property</h4>
<dt>描述</dt>
<dd>注意@Input装饰器。它将元数据添加到使指令的highlightColor属性可用于绑定的类</dd>
<dd>被称为输入属性，因为数据从绑定表达式流入指令</dd>
<dd>没有这个输入元数据，Angular拒绝绑定</dd>
<pre>
	<p appHighlight highlightColor="yellow">Highlighted in yellow</p>
	<p appHighlight [highlightColor]="'orange'">Highlighted in orange</p>

	export class AppComponent {
		color = 'yellow';
	}
</pre>
<dd>用一个属性绑定来控制高亮颜色</dd>
<pre>
	<p appHighlight [highlightColor]="color">Highlighted with parent component's color</p>

	<p [appHighlight]="color">Highlight me!</p>

	@Input() appHighlight: string;
</pre>
<dd>[appHighlight]属性绑定都将突出显示指令应用于<p>元素，并使用属性绑定来设置指令的突出显示颜色</dd>

<h4>Bind to an @Input alias</h4>
<dd>可以根据需要命名指令属性，并将其别名用于绑定目的</dd>
