<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	CSS 过渡
	代码示例:
		一个典型的 CSS 过渡效果定义如下
	<div v-if="show" v-transition="expand">hello</div>
		然后为.expand-transition，.expand-enter 和.expand-leave 添加 CSS 规则:
	Vue.transition('expand',{
		beforeEnter: function(el){
			el.textContent = 'beforeEnter'
		},
		enter: function(el){
			el.textContent = 'exter'
		},
		afterEnter: function(el){
			el.textContent = 'afterEnter'
		},
		enterCancelled: function(el){
			// handle cancellation
		},
		beforeLeave: function(el){
			el.textContent = 'beforeLeave'
		},
		Leave: function(el){
			el.textContent = 'leave'
		},
		afterLeave: function(el){
			el.textContent = 'afterLeave'
		},
		leaveCancelled: function(el){
			// handle cancellation
		}
	})
	代码描述:操作某个元素时，当v-if的值为发生变化时，就会引起transition的变化，从而使的CSS样式改变
	<style>
		.expand-transition {
			transition: all 3s ease;
			height: 30px;
			padding: 10px;
			background-color: #eee;
			overflow: hidden;
		}
		.exand-enter, .expand-leave {
			height: 0;
			padding: 0 10px;
			opacity: 0;
		}
	</style>
	<script src="../vue.js"></script>
	<body>
		<div id="example">
			<div v-if="show" transition="expand">hello</div>
			<button v-on:click="show=!show">toggle</button>
		</div>
	</body>
	<script>
		Vue.transition('expand',{
			beforeEnter: function(el){
				el.textContent = 'beforeEnter'
			},
			enter: function(el){
				el.textContent = 'exter'
			},
			afterEnter: function(el){
				el.textContent = 'afterEnter'
			},
			enterCancelled: function(el){
				// handle cancellation
			},
			beforeLeave: function(el){
				el.textContent = 'beforeLeave'
			},
			Leave: function(el){
				el.textContent = 'Leave'
			},
			afterLeave: function(el){
				el.textContent = 'afterLeave'
			},
			LeaveCancelled: function(el){
				// handle cancellation
			}
		})
		new Vue({
			el:'#example',
			data: {
				show:true
			}
		})
	</script>
	具体描述；说简单点就是我们在操作某个元素时，当v-if的值为发生变化时，就会引起transition的变化，从而使的CSS样式改变
	
</html>
