<mat-card class="example-card mar-t-20">
    <mat-card-header>
        <mat-card-title>
            <h4>Build a simple attribute directive</h4>
        </mat-card-title>
        <mat-card-subtitle>
            <ul>
                <li>描述</li>
                <li>attrFirstDirective</li>
            </ul>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li>Directive提供@Directive装饰器功能</li>
            <li>ElementRef注入到指令构造函数中。这样代码就可以访问 DOM 元素了</li>
            <li>Input将数据从绑定表达式传达到指令中</li>
            <li>@Directive装饰器函数以配置对象参数的形式，包含了指令的元数据</li>
        </ul>
        <span appAttrFirstDirective>appAttrFirstDirective实例</span>
        <h6>指令没生效</h6>
        <ul>
            <li>Angular 检测到你正在尝试绑定到某些东西，但它不认识</li>
            <li>所以它在declarations元数据数组中查找</li>
            <li>把HighlightDirective列在元数据的这个数组中</li>
            <li>Angular 就会检查对应的导入语句，从而找到directive，并了解directive的功能</li>
        </ul>
        <p>设置@NgModule的declarations数组</p>
        <h6>总结</h6>
        <p>Angular 在p元素上发现了一个myHighlight属性</p>
        <p>然后它创建了一个HighlightDirective类的实例，并把所在元素的引用注入到了指令的构造函数中</p>
        <p>在构造函数中，把p元素的背景设置为了黄色</p>
    </mat-card-content>
</mat-card>
<mat-card class="example-card mar-t-20">
    <mat-card-header>
        <mat-card-title>
            <h4>响应用户引发的事件</h4>
        </mat-card-title>
        <mat-card-subtitle>
            <ul>
                <li>描述</li>
                <li>attrSecondDirective</li>
            </ul>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>@HostListener装饰器引用属性型指令的宿主元素，在这个例子中就是p</p>
        <h6>可以通过标准的JavaScript方式手动给宿主 DOM 元素附加一个事件监听器</h6>
        <ul>
            <li>必须正确的书写事件监听器</li>
            <li>当指令被销毁的时候，必须拆卸事件监听器，否则会导致内存泄露</li>
            <li>必须直接和 DOM API 打交道，应该避免这样做</li>
        </ul>
        <span appAttrSecondDirective>appAttrSecondDirective 实例</span>
    </mat-card-content>
</mat-card>
<mat-card class="example-card mar-t-20">
    <mat-card-header>
        <mat-card-title>
            <h4>使用数据绑定向指令传递值</h4>
        </mat-card-title>
        <mat-card-subtitle>
            <ul>
                <li>描述</li>
                <li>attrThirdDirective</li>
            </ul>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h5>绑定到@Input属性</h5>
        <p>注意看@Input装饰器。它往类上添加了一些元数据，从而让该指令的highlightColor能用于绑定</p>
        <p>它之所以称为输入属性，是因为数据流是从绑定表达式流向指令内部的</p>
        <section class="example-section">
            <label class="example-margin">颜色选择:</label>
            <mat-radio-group [(ngModel)]="colors">
                <mat-radio-button class="example-margin" value="lightgreen">Green</mat-radio-button>
                <mat-radio-button class="example-margin" value="yellow">Yellow</mat-radio-button>
                <mat-radio-button class="example-margin" value="cyan">Cyan</mat-radio-button>
            </mat-radio-group>
        </section>
        <span appAttrThirdDirective [appHightlight]='colors'> appAttrThirdDirective</span>
    </mat-card-content>
</mat-card>