<h4 class="width-100p">周期选择组件</h4>
<app-date-list [weekData]="weekData" (childEvent)="getChildEvent($event)">
</app-date-list>
<h4>数字的限额-整数|保留两位小数</h4>
<div>
    <span>integer</span>
    <input type="text" 
           appNumberReset 
           [(ngModel)]="num" 
           (setNum)="setChange($event, 'num')" 
           [retainedDecimal]="0">
    <span>{{num}}</span>
</div>
<div>
    <span>retainedDecimal</span>
    <input type="text" 
        appNumberReset 
        [(ngModel)]="num1" 
        (setNum)="setChange($event, 'num1')" 
        [retainedDecimal]="2">
    <span>{{num1}}</span>
</div>
<p>通过管道来进行数字限额 只能用于展示</p>
<h4>真实数据长度判断</h4>
<input type="text" 
    appCharLenDetection 
    [length]="10"
    (setChar)="setCaar($event)">
<!-- <alert type="success">hello</alert> -->
<!-- <div>
    <span>numPipe</span>
    <input type="text" [(ngModel)]="num2">
    {{num2}}
</div> -->
