<div class="container-fluid">
	<h1 class="text-center">Dynamic Component Loader</h1>
	<dt>描述</dt>
	<dd>组件模板并不总是固定的</dd>
	<dd>应用程序可能需要在运行时加载新组件</dd>
	<a href="https://angular.io/generated/live-examples/dynamic-component-loader/eplnkr.html"
		target="_blank">在线实例</a>
	<a href="https://angular.io/generated/zips/dynamic-component-loader/dynamic-component-loader.zip"
		target="_blank">实例下载</a>
	
	<h3>The anchor directive(锚指令)</h3>
	<dt>描述</dt>
	<dd>在添加组件之前，您必须定义一个锚点来告诉Angular在哪里插入组件。</dd>
	<pre>
		import &#123; Directive, ViewContainerRef &#125; from '@angular/core';
		
		@Directive(&#123;
		  selector: '[ad-host]',
		&#125;)
		export class AdDirective &#123;
		  constructor(public viewContainerRef: ViewContainerRef) &#123; &#125;
		&#125;
	</pre>
	<dt>描述</dt>
	<dd>AdDirective注入ViewContainerRef将承载动态添加组件的元素的视图容器</dd>
	<dd>@Directive装饰者，请注意选择器名称ad-host就是用来将指令应用到元素的方法</dd>

	<h3>Loading components(加载组件)</h3>
	<dt>描述</dt>
	<dd>ad-banner.component.ts这个例子中的动态加载组件</dd>
	<dd>&#60;ng-template>元素是您应用您刚才创建的指令的地方</dd>
	<pre>
		template: `
			&#60;div class="ad-banner">
				&#60;h3>Advertisements&#60;/h3>
				&#60;ng-template ad-host>&#60;/ng-template>
			&#60;/div>
	  	`
	</pre>
	<dd>对于动态组件来说，&#60;ng-template>元素是一个不错的选择，因为它不会提供任何额外的输出</dd>

	<h3>Resolving components(解决组件)</h3>
	<dt>描述</dt>
	<dd>AdBannerComponent接收一组AdItem对象作为输入，最终来自AdService</dd>
	<dd>AdItem对象指定要加载的组件的类型以及要绑定到组件的任何数据.AdService返回构成广告活动的实际广告。</dd>
	<dd>将一组组件数组传递给AdBannerComponent允许在模板中没有静态元素的动态广告列表。
		通过getAds（）方法，</dd>
	<dd>AdBannerComponent循环遍历AdItem数组，并通过调用loadComponent（）每3秒加载一个新组件。</dd>
	<pre>
		export class AdBannerComponent implements AfterViewInit, OnDestroy &#123;
			@Input() ads: AdItem[];
			currentAddIndex: number = -1;
			@ViewChild(AdDirective) adHost: AdDirective;
			subscription: any;
			interval: any;
		  
			constructor(private componentFactoryResolver: ComponentFactoryResolver) &#123; &#125;
		  
			ngAfterViewInit() &#123;
			  this.loadComponent();
			  this.getAds();
			&#125;
		  
			ngOnDestroy() &#123;
			  clearInterval(this.interval);
			&#125;
		  
			loadComponent() &#123;
			  this.currentAddIndex = (this.currentAddIndex + 1) % this.ads.length;
			  let adItem = this.ads[this.currentAddIndex];
		  
			  let componentFactory = this.componentFactoryResolver.resolveComponentFactory(adItem.component);
		  
			  let viewContainerRef = this.adHost.viewContainerRef;
			  viewContainerRef.clear();
		  
			  let componentRef = viewContainerRef.createComponent(componentFactory);
			  (&#60;AdComponent>componentRef.instance).data = adItem.data;
			&#125;
		  
			getAds() &#123;
			  this.interval = setInterval(() => &#123;
				this.loadComponent();
			  &#125;, 3000);
			&#125;
		  &#125;
	</pre>
	<dt>描述</dt>
	<dd>首先，它将currentAddIndex设置为当前加上的值，</dd>
	<dd>除以AdItem数组的长度，并使用余数作为新的currentAddIndex值</dd>
	<dd>它使用该值从数组中选择一个adItem</dd>

	<dd>loadComponent（）选择一个广告后，它使用ComponentFactoryResolver为每个特定的组件解析一个ComponentFactory</dd>
	<dd>ComponentFactory然后创建每个组件的一个实例</dd>
	<dd>因为指的是adHost，而adHost是之前设置的指示，告诉Angular在哪里插入动态组件</dd>
	<dd>AdDirective将ViewContainerRef注入到其构造函数中。</dd>
	<dd>这是指令如何访问您要用来托管动态组件的元素。</dd>
	<dd>要将组件添加到模板，可以在ViewContainerRef上调用createComponent（）。</dd>
	<dd>createComponent（）方法返回对加载组件的引用。</dd>
	<dd>使用该引用通过分配其属性或调用其方法来与组件进行交互。</dd>

	<h3>Selector references(参考)</h3>
	<dt>描述</dt>
	<dd>通常，Angular编译器为模板中引用的任何组件生成一个ComponentFactory</dd>
	<dd>动态加载组件的模板中没有选择器引用，因为它们在运行时加载。</dd>
	<dd>要确保编译器仍然生成工厂，请将动态加载的组件添加到NgModule的entryComponents数组中</dd>
	<pre>
		entryComponents: [ HeroJobAdComponent, HeroProfileComponent ],
	</pre>

	<h2>The AdComponent interface(接口)</h2>
	<dt>描述</dt>
	<dd>所有组件都实现了一个通用的AdComponent接口来标准化将数据传递到组件的API</dd>
	<pre>
		hero-job-ad.component.ts

		import &#123; Component, Input &#125; from '@angular/core';
		
		import &#123; AdComponent &#125;      from './ad.component';
		
		@Component(&#123;
		  template: `
		  	&#60;div class="job-ad">
			  &#60;h4>&#123; &#123;data.headline&#125;&#125;&#60;/h4> 
			  
			  &#123; &#123;data.body&#125;&#125;
			&#60;/div>
		  `
		&#125;)
		export class HeroJobAdComponent implements AdComponent &#123;
		  @Input() data: any;
		
		&#125;

		hero-profile.component.ts

		import &#123; Component, Input &#125;  from '@angular/core';
		
		import &#123; AdComponent &#125;       from './ad.component';
		
		@Component(&#123;
		  template: `
		  	&#60;div class="hero-profile">
			  &#60;h3>Featured Hero Profile&#60;/h3>
			  &#60;h4>&#123; &#123;data.name&#125;&#125;&#60;/h4>
			  
			  &#60;p>&#123; &#123;data.bio&#125;&#125;&#60;/p>
		
			  &#60;strong>Hire this hero today!&#60;/strong>
			&#60;/div>
		  `
		&#125;)
		export class HeroProfileComponent implements AdComponent &#123;
		  @Input() data: any;
		&#125;

		ad.component.ts

		export interface AdComponent &#123;
			data: any;
		&#125;
	</pre>
</div>