@import "theme";

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

//home
.left-nav {
    p:hover {
        background: $b-g-c-666;
    }
}
