@import 'theme';

/*** 字体颜色，命名：f-c-色值 ***/
.f-c-999 {
  color: $f-c-999;
}

.f-c-000 {
  color: $f-c-000 !important;
}

.f-c-fff {
  color: $f-c-fff !important;
}

.f-c-333 {
  color: $f-c-333 !important;
}
.f-c-333 {
  color: $f-c-333 !important;
}
.f-c-00bb22 {
  color: $f-c-00bb22 !important;
}

.f-c-ff8080 {
  color: $f-c-ff8080 !important;
}
.f-c-ff8080 {
  color: $f-c-ff8080 !important;
}
.f-c-ff5500{
  color: $f-c-ff5500 !important;
}
.f-c-f50 {
  color: $f-c-f50 !important;
}
.f-c-f60 {
  color: $f-c-f60 !important;
}
.f-c-f70 {
  color: $f-c-f70 !important;
}

.f-c-07d {
  color: $f-c-07d !important;
}

.f-c-f30 {
  color: $f-c-f30 !important;
}

.no-hover:hover {
  color: $f-c-07d !important;
}

.f-c-3e3efe {
  color: $f-c-3e3efe !important;
}

.f-c-6c3 {
  color: $f-c-6c3 !important;
}

.f-c-f00 {
  color: $f-c-f00 !important;
}

/*** 字体对齐 ***/
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

/*** 字体加粗 ***/
.f-w-bold {
  font-weight: bold;
}

/*** 字体大小，命名：f-s-字体大小 ***/
.f-s-12 {
  font-size: 12px !important;
}

.f-s-14 {
  font-size: 14px !important;
}

.f-s-16 {
  font-size: 16px !important;
}
.f-s-18{
  font-size: 18px !important;
}
.f-s-20{
  font-size: 20px !important;
}
.f-s-24{
  font-size: 24px !important;
}
.f-s-30{
  font-size: 30px !important;
}
