.pad-l-0 {
    padding-left: 0px !important;
}
.pad-r-0 {
    padding-right: 0px !important;
}
.pad-l-05em {
    padding-left: 0.5em;
}
.pad-r-05em {
    padding-right: 0.5em;
}
.pad-t-05em {
    padding-top: 0.5em;
}
.pad-b-05em {
    padding-bottom: 0.5em;
}
.pad-l-1em {
    padding-left: 1em;
}
.pad-r-1em {
    padding-right: 1em;
}
.pad-t-1em {
    padding-top: 1em;
}
.pad-b-1em {
    padding-bottom: 1em;
}
.pad-l-5em {
    padding-left: 5em;
}
.pad-l-2em {
  padding-left: 2em;
}
.pad-l-3em {
  padding-left: 3em;
}
