/*** 基础色值 色值全部用小写：#f2f2f2，可以缩写的全部缩写：#fff ***/

$c-fff: #fff;
$c-f2f2f2: #f2f2f2;
$c-f5f5f5: #f5f5f5;
$c-f8f8f8: #f8f8f8;
$c-d8d8d8: #d8d8d8;
$c-ccc: #ccc;
$c-ddd: #ddd;
$c-e5e5e5: #e5e5e5;
$c-eee: #eee;
$c-bbb: #bbb;
$c-999: #999;
$c-929292: #929292;
$c-666: #666;
$c-414141: #414141;
$c-444: #444;
$c-383a3e: #383a3e;
$c-333: #333;
$c-343a40: #343a40;
$c-111: #111;
$c-000: #000;

$c-e6decf: #e6decf;
$c-fff7e6: #fff7e6;
$c-fffae6: #fffae6;
$c-fff5cc: #fff5cc;
$c-fea: #fea;
$c-e6d69a: #e6d69a;
$c-ffbd66: #ffbd66;
$c-f6bd4a: #f6bd4a;
$c-f70: #f70;
$c-f60: #f60;
$c-f50: #f50;
$c-f30: #f30;
$c-d55300: #d55300;
$c-e44b09: #e44b09;

$c-cce6ff: #cce6ff;
$c-a7d9e2: #a7d9e2;
$c-84bdd0: #84bdd0;
$c-849bcf: #849bcf;
$c-59a0de: #59a0de;
$c-00a0e9: #00a0e9;
$c-009afe: #009afe;
$c-4082e3: #4082e3;
$c-0084f7: #0084f7;
$c-0069c4: #0069c4;
$c-1072bd: #1072bd;
$c-07d: #07d;
$c-005eea: #005eea;
$c-005eae: #005eae;
$c-3e3efe: #3e3efe;

$c-8fdf90: #8fdf90;
$c-6c3: #6c3;
$c-5a2: #5a2;
$c-44b549: #44b549;
$c-11cd6e: #11cd6e;
$c-00bc2a: #00bc2a;
$c-00bb02: #00bb02;
$c-0b2: #0b2;
$c-00a926: #00a926;

$c-ffa3a3: #ffa3a3;
$c-f96: #f96;
$c-ff8080: #ff8080;
$c-00bb22: #00bb22;
$c-ff5d5d: #ff5d5d;
$c-ff5500: #ff5500;
$c-ff4343: #ff4343;
$c-f00: #f00;

$c-a984d1: #a984d1;

/*** 边框颜色，变量命名：b-c-对应色值 ***/
$b-c-fff: $c-fff;
$b-c-f2f2f2: $c-f2f2f2;
$b-c-f8f8f8: $c-f8f8f8;
$b-c-e5e5e5: $c-e5e5e5;
$b-c-999: $c-999;
$b-c-444: $c-444;
$b-c-ccc: $c-ccc;
$b-c-ddd: $c-ddd;
$b-c-eee: $c-eee;

$b-c-cce6ff: $c-cce6ff;
$b-c-e6decf: $c-e6decf;
$b-c-e6d69a: $c-e6d69a;

$b-c-ffa3a3: $c-ffa3a3;
$b-c-ff8080: $c-ff8080;
$b-c-f50: $c-f50;
$b-c-d55300: $c-d55300;

$b-c-59a0de: $c-59a0de;
$b-c-009afe: $c-009afe;
$b-c-07d: $c-07d;
$b-c-005eae: $c-005eae;
$b-c-0069c4: $c-0069c4;

$b-c-6c3: $c-6c3;
$b-c-0b2: $c-0b2;
$b-c-00a926: $c-00a926;
$b-c-00bc2a: $c-00bc2a;

$b-c-f00: $c-f00;

/*** 背景颜色，变量命名：b-g-c-对应色值 ***/
$b-g-c-fff: $c-fff;
$b-g-c-f2f2f2: $c-f2f2f2;
$b-g-c-f5f5f5: $c-f5f5f5;
$b-g-c-f8f8f8: $c-f8f8f8;
$b-g-c-999: $c-999;
$b-g-c-444: $c-444;
$b-g-c-eee: $c-eee;
$b-g-c-bbb: $c-bbb;
$b-g-c-333: $c-333;
$b-g-c-111: $c-111;
$b-g-c-343a40: $c-343a40;
$b-g-c-666: $c-666;

$b-g-c-ff8080: $c-ff8080;
$b-g-c-ff5d5d: $c-ff5d5d;
$b-g-c-ff4343: $c-ff4343;
$b-g-c-f30: $c-f30;
$b-g-c-f00: $c-f00;

$b-g-c-fff7e6: $c-fff7e6;
$b-g-c-fffae6: $c-fffae6;
$b-g-c-fff5cc: $c-fff5cc;
$b-g-c-fea: $c-fea;
$b-g-c-f6bd4a: $c-f6bd4a;
$b-g-c-ffbd66: $c-ffbd66;
$b-g-c-f70: $c-f70;
$b-g-c-f50: $c-f50;
$b-g-e44b09: $c-e44b09;

$b-g-c-cce6ff: $c-cce6ff;
$b-g-c-a7d9e2: $c-a7d9e2;
$b-g-c-84bdd0: $c-84bdd0;
$b-g-c-849bcf: $c-849bcf;
$b-g-c-a984d1: $c-a984d1;

$b-g-c-8fdf90: $c-8fdf90;
$b-g-c-6c3: $c-6c3;
$b-g-c-44b549: $c-44b549;
$b-g-c-0b2: $c-0b2;
$b-g-c-00bb02: $c-00bb02;
$b-g-c-00bc2a: $c-00bc2a;

$b-g-c-4082e3: $c-4082e3;
$b-g-c-00a0e9: $c-00a0e9;
$b-g-c-009afe: $c-009afe;
$b-g-c-0084f7: $c-0084f7;
$b-g-c-07d: $c-07d;
$b-g-c-0069c4: $c-0069c4;

/*** 字体颜色，变量命名：f-c-对应色值 ***/
$f-c-fff: $c-fff;
$f-c-ccc: $c-ccc;
$f-c-999: $c-999;
$f-c-929292: $c-929292;
$f-c-666: $c-666;
$f-c-414141: $c-414141;
$f-c-383a3e: $c-383a3e;
$f-c-333: $c-333;
$f-c-000: $c-000;

$f-c-f96: $c-f96;
$f-c-f70: $c-f70;
$f-c-f60: $c-f60;
$f-c-f50: $c-f50;
$f-c-ff5500: $c-ff5500;

$f-c-ff8080: $c-ff8080;
$f-c-00bb22: $c-00bb22;

$f-c-07d: $c-07d;
$f-c-1072bd: $c-1072bd;
$f-c-3e3efe: $c-3e3efe;

$f-c-11cd6e: $c-11cd6e;
$f-c-6c3: $c-6c3;
$f-c-00bb02: $c-00bb02;

$f-c-f30: $c-f30;
$f-c-f00: $c-f00;


/*** 字体大小，变量命名：f-s-字体大小 ***/
$f-s-12: 12px;
$f-s-14: 14px;
$f-s-16: 16px;
$f-s-20: 20px;
$f-s-24: 24px;
$f-s-30: 30px;
