<div class="container-fluid">
    <div class="row">
        <div class="left-nav col-1 text-center pad-l-0 pad-r-0 relative">
            <p class="pad-t-1em pad-b-1em b-g-c-343a40 mar-b-0 f-c-999 cursor-pointer"
                *ngFor="let item of routerLinkArr; let i = index"
                routerLinkActive="active"
                [routerLink]="item.routerLink">
                <a>{{item.routerName}}</a>
            </p>
        </div>
        <div class="col-1"></div>
        <router-outlet></router-outlet>
    </div>
</div>

<!-- <h2>angular2 内置指令</h2> -->
