.left-nav {
    position: fixed;
    top: 56px;
    bottom: 0px;
    left: 0px;
    background: #343a40;
    z-index: 1;
    p.active {
        color: #fff;
        background-color: rgb(106, 199, 236);
    }
    p.active:hover {
        background-color: rgb(106, 199, 236);
    }
    p:hover {
        color: #fff;
        background: #343a40;
    }
}
