<h1 class="text-center">前端常见算法的JS实现</h1>
<h3>排序算法</h3>
<h4>1、冒泡排序</h4>
<pre>
    function bubbleSort(arr)&#123;
        var i = 0,
            j = 0;
        for(i=1; i<arr.length; i++)&#123;
            for(j=0; j<=arr.length-i; j++)&#123;
            var temp = 0;
            // ">" 从小到大排序
            // "<" 从大到小排序
                if(arr[j] > arr[j+1])&#123;
                    temp = arr[j];
                    arr[j] = arr[j+1];
                    arr[j+1] = temp;
                &#125;
            &#125;
        &#125;
        return arr;
    &#125;
</pre>
<h4>2、快速排序</h4>
<pre>
    function quickSort(arr,l,r)&#123;
        if(l &#60; r)&#123;
        var i = l, j = r, x = arr[i];
        while(i&#60;j)&#123;
            while(i &#60; j && arr[j] > x)
            j--;
            
            if(i&#60;j)
            //这里用i++，被换过来的必然比x小，赋值后直接让i自加，不用再比较，可以提高效率
            arr[i++] = arr[j];
            
            while(i &#60; j && arr[i] &#60; x)
            i++;
            
            if(i &#60; j)
            //这里用j--，被换过来的必然比x大，赋值后直接让j自减，不用再比较，可以提高效率
            arr[j--] = arr[i];
        &#125;
        arr[i] = x;
        
        quickSort(arr, l, i-1);
        quickSort(arr, i+1, r);
        &#125;
    &#125;
</pre>
<h4>3、二路归并</h4>