<mat-card class="example-card mar-t-20">
    <mat-card-header>
        <mat-card-title>
            <h4>Structural Directives</h4>
        </mat-card-title>
        <mat-card-subtitle>
            <ul>
                <li>描述</li>
                <li>塑造或重塑DOM的结构，比如添加、移除或维护这些元素</li>
            </ul>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li>ng-template 用来注册一般的结构指令ngif, ngfor, ngSwitch</li>
            <li>ng-container不会污染样式或元素布局,因为 Angular 不会把它放进 DOM 中</li>
            <li>可以使用TemplateRef取得ng-template的内容，并通过ViewContainerRef来访问这个视图容器</li>
        </ul>
        <p *appStrFirstDirective="true">*appStrFirstDirective="true"</p>
        <p *appStrFirstDirective="false">*appStrFirstDirective="false"</p>
    </mat-card-content>
    <a href="https://angular.cn/guide/structural-directives">有时间多看看</a>
</mat-card>