<h4 class="m-t-10">可观察对象（Observable）</h4>
<ul>
    <li>
        <p class="f-c-999">可观察对象支持在应用中的发布者和订阅者之间传递消息</p>
    </li>
    <li>
        <p class="f-c-999">可观察对象是声明式的——声明并且使用才会监听</p>
    </li>
    <li>
        <p class="f-c-999">可观察对象可以发送多个任意类型的值 —— 字面量、消息、事件</p>
        <p>无论这些值是同步发送的还是异步发送的，接收这些值的 API 都是一样的</p>
    </li>
    <li>
        <p class="f-c-999">
            由于准备（setup）和清场（teardown）的逻辑都是由可观察对象自己处理的，
            因此应用代码只管订阅并消费这些值就可以了，做完之后，取消订阅
        </p>
        <p>无论这个流是击键流、HTTP 响应流还是定时器，对这些值进行监听和停止监听的接口都是一样的</p>
    </li>
</ul>
<nz-card class="m-t-10" nzTitle="基本用法" >
    <h6>基本用法</h6>
    <ul>
        <li>
            <p>创建一个 Observable 的实例，其中定义了一个订阅者（subscriber）函数</p>
        </li>
        <li>
            <p>当调用 subscribe() 方法时，这个函数就会执行</p>
        </li>
        <li>
            <p>subscribe() 调用会返回一个 Subscription 对象，该对象具有一个 unsubscribe() 方法。
                当调用该方法时，就会停止接收通知</p>
        </li>
    </ul>
    <h6 class="m-t-5">定义观察者</h6>
    <p class="f-c-999">用于接收可观察对象通知的处理器要实现 Observer 接口</p>
    <nz-table>
        <thead>
            <tr>
                <th>通知类型</th>
                <th>说明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>next</td>
                <td>
                    <p class="f-c-999">必要。用来处理每个送达值。</p>
                    <p>在开始执行后可能执行零次或多次</p>
                </td>
            </tr>
            <tr>
                <td>error</td>
                <td>
                    <p class="f-c-999">可选。用来处理错误通知。</p>
                    <p>错误会中断这个可观察对象实例的执行过程</p>
                </td>
            </tr>
            <tr>
                <td>complete</td>
                <td>
                    <p class="f-c-999">可选。用来处理执行完毕（complete）通知。</p>
                    <p>当执行完毕后，这些值就会继续传给下一个处理器</p>
                </td>
            </tr>
        </tbody>
        <h6 class="m-t-5">订阅</h6>
        <p class="f-c-999">只有订阅 Observable 的实例时，才会开始发布值</p>
        <p class="f-c-999">订阅时要先调用该实例的 subscribe() 方法，并把一个观察者对象传给它，用来接收通知</p>
    </nz-table>
</nz-card>
