<div class="container-fluid">
	<h1>Component Interaction(组件通讯)</h1>
	
	<dd>
		<!-- <a href="&#123;&#123;OnlineHref&#125;&#125;" target="&#123;&#123;targetType&#125;&#125;">在线实例</a> -->
		<a href="https://angular.io/generated/live-examples/component-interaction/eplnkr.html" 
			target="_blank">
			在线实例
		</a>
		<span>|</span>
		<a href="https://angular.io/generated/zips/component-interaction/component-interaction.zip" 
			target="_blank">
			在线实例
		</a>
		<!-- <a [attr.href]="downloadHref" [attr.target]="targetType">可下载的实例</a> -->
	</dd>

	<h4>Pass data from parent to child with input binding(父=>子)</h4>
	<dd>通常用@Input装饰</dd>
	<pre>
		import &#123; Component, Input &#125; from '@angular/core';
		
		import &#123; Hero &#125; from './hero';
		
		@Component(&#123;
			selector: 'app-hero-child',
			template: `
			&#60;h3>&#123; &#123;hero.name&#125;&#125; says:&#60;/h3>
			&#60;p>I, &#123; &#123;hero.name&#125;&#125;, am at your service, &#123;&#123;masterName&#125;&#125;.&#60;/p>
			`
		&#125;)
		export class HeroChildComponent &#123;
			@Input() hero: Hero;
			@Input('master') masterName: string;
		&#125;
	</pre>
	<dd>第二个@Input将子组件属性名称masterName别名为“master”</dd>
	<pre>
		import &#123; Component &#125; from '@angular/core';
		
		import &#123; HEROES &#125; from './hero';
		
		@Component(&#123;
		  selector: 'app-hero-parent',
		  template: `
			&#60;h2>
				&#123; &#123;master&#125;&#125; controls 
				&#123; &#123;heroes.length&#125;&#125; heroes
			&#60;/h2>
			&#60;app-hero-child *ngFor="let hero of heroes"
			  [hero]="hero"
			  [master]="master">
			&#60;/app-hero-child>
		  `
		&#125;)
		export class HeroParentComponent &#123;
		  heroes = HEROES;
		  master = 'Master';
		&#125;
	</pre>
</div>