<div class="container-fluid">
    <h2>Lifecycle Hooks(组件的生命周期)</h2>

    <h3>Component lifecycle hooks overview(概述)</h3>
    <dt>描述</dt>
    <dd>每个接口都有一个单一的钩子方法，其名称是以ng为前缀的接口名称</dd>
    <dd>例如，OnInit接口有一个名为ngOnInit（）的钩子方法，Angular在创建组件后立即调用</dd>
    <pre>
        export class PeekABoo implements OnInit &#123;
            constructor(private logger: LoggerService) &#123; &#125;
          
            // implement OnInit's `ngOnInit` method
            ngOnInit() &#123; this.logIt(`OnInit`); &#125;
          
            logIt(msg: string) &#123;
              this.logger.log(`#$&#123;nextId++&#125; $&#123;msg&#125;`);
            &#125;
        &#125;
    </pre>
    <dd>没有指令或组件将实现所有的生命周期钩子</dd>

    <h4>Lifecycle sequence(生命周期序列)</h4>
    <dt>通过调用其构造函数创建组件/指令后，Angular在特定时刻按以下顺序调用生命周期钩子方法</dt>

    <table class="table table-hover table-bordered">
        <tr>
            <td>Hook</td>
            <td>Purpose and Timing(目的和执行顺序)</td>
        </tr>
        <tr>
            <td>ngOnChanges()</td>
            <td>
                <dd>Angular响应（重新）设置数据绑定的输入属性</dd>
                <dd>该方法接收当前和以前的属性值的SimpleChanges对象。</dd>
                <dd>Called before ngOnInit() and whenever one or more data-bound input properties change.</dd>
                <dd>在ngOnInit（）之前调用并且每当有一个或多个数据绑定输入属性发生变化时调用。</dd>
            </td>
        </tr>
        <tr>
            <td>ngOnInit()</td>
            <td>
                <dd>在Angular之后初始化指令/组件首先显示数据绑定属性并设置指令/组件的输入属性。</dd>
                <dd>Called once, after the first ngOnChanges().</dd>
                <dd>在第一个ngOnChanges（）之后调用一次。</dd>
            </td>
        </tr>
        <tr>
            <td>ngDoCheck()</td>
            <td>
                <dd>检测Angular无法或无法自行检测到的更改并采取相应措施。</dd>
                <dd>Called during every change detection run, immediately after ngOnChanges() and ngOnInit()</dd>
                <dd>在每次更改检测运行期间，在ngOnChanges（）和ngOnInit（）之后立即调用</dd>
            </td>
        </tr>
        <tr>
            <td>ngAfterContentInit()</td>
            <td>
                <dd>Respond after Angular projects external content into the component's view.</dd>
                <dd>在Angular将外部内容投影到组件视图之后作出响应。</dd>
                <dd>Called once after the first ngDoCheck().</dd>
                <dd>在第一次ngDoCheck（）之后调用一次。</dd>
                <dd>A component-only hook.</dd>
                <dd>只有组件的钩子。</dd>
            </td>
        </tr>
        <tr>
            <td>ngAfterContentChecked()</td>
            <td>
                <dd>Respond after Angular checks the content projected into the component.</dd>
                <dd>在Angular检查投影到组件中的内容之后作出响应。</dd>
                <dd>Called after the ngAfterContentInit() and every subsequent ngDoCheck().</dd>
                <dd>在ngAfterContentInit（）和每个后续的ngDoCheck（）之后调用。</dd>
                <dd>A component-only hook.</dd>
                <dd>只有组件的钩子。</dd>
            </td>
        </tr>
        <tr>
            <td>ngAfterViewInit()</td>
            <td>
                <dd>Respond after Angular initializes the component's views and child views.</dd>
                <dd>在Angular之后进行响应，初始化组件的视图和子视图。</dd>
                <dd>Called once after the first ngAfterContentChecked().</dd>
                <dd>在第一个ngAfterContentChecked（）之后调用一次。</dd>
                <dd>A component-only hook.</dd>
                <dd>只有组件的钩子。</dd>
            </td>
        </tr>
        <tr>
            <td>ngAfterViewChecked()</td>
            <td>
                <dd>Respond after Angular checks the component's views and child views.</dd>
                <dd>在Angular检查组件的视图和子视图之后作出响应。</dd>
                <dd>Called after the ngAfterViewInit and every subsequent ngAfterContentChecked().</dd>
                <dd>在ngAfterViewInit和每个后续的ngAfterContentChecked（）之后调用。</dd>
                <dd>A component-only hook.</dd>
                <dd>只有组件的钩子。</dd>
            </td>
        </tr>
        <tr>
            <td>ngOnDestroy</td>
            <td>
                <dd>Cleanup just before Angular destroys the directive/component.</dd>
                <dd>在Angular破坏指令/组件之前进行清理</dd>
                <dd>Unsubscribe Observables and detach event handlers to avoid memory leaks.</dd>
                <dd>取消订阅Observables和分离事件处理程序以避免内存泄漏。</dd>
                <dd>Called just before Angular destroys the directive/component.</dd>
                <dd>在Angular破坏指令/组件之前调用。</dd>
            </td>
        </tr>
    </table>

    <h4>Lifecycle examples(生命周期示例)</h4>
    <dd>官方实例</dd>
    <dt>
        <a href="https://angular.io/generated/live-examples/lifecycle-hooks/eplnkr.html">在线实例</a>
        <a href="https://angular.io/generated/zips/lifecycle-hooks/lifecycle-hooks.zip">下载地址</a>
    </dt>
    <!-- <table class="table table-hover table-bordered">
        <tr>
            <td>Component</td>
            <td>Description</td>
        </tr>
        <tr>
            <td>
                <a href="https://angular.io/guide/lifecycle-hooks#peek-a-boo">Peek-a-boo</a>
            </td>
            <td>
                <dd>演示每个生命周期的钩子。 每个钩子方法都写入屏幕日志。</dd>
            </td>
        </tr>
        <tr></tr>
    </table> -->
</div>