<mat-card class="example-card mar-t-20">
    <mat-card-header>
        <mat-card-title>
            <h4>Pipes</h4>
        </mat-card-title>
        <mat-card-subtitle>描述:类似于filter</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{birthday | date}}</p>
        <h5>管道参数化</h5>
        <p>{{birthday | date:'MM/dd/yy'}}</p>
        <p>{{birthday | date:format}}</p>
        <button (click)="toggleFormat()">toggleFormat</button>
        <h5>链式管道</h5>
        <p>{{birthday | date:format | uppercase}}</p>
        <h5>自定义管道</h5>
        <span class="f-c-999">exponentialStrengthPipe</span>
        <ul>
            <li>管道是一个带有“管道元数据(pipe metadata)”装饰器的类</li>
            <li>这个管道类实现了PipeTransform接口的transform方法，该方法接受一个输入值和一些可选参数，并返回转换后的值</li>
            <li>当每个输入值被传给transform方法时，还会带上另一个参数，比如我们这个管道中的exponent(放大指数)</li>
            <li>通过@Pipe装饰器告诉Angular：这是一个管道。该装饰器是从Angular的core库中引入的</li>
            <li>这个@Pipe装饰器允许我们定义管道的名字，这个名字会被用在模板表达式中</li>
            <li>必须是一个有效的JavaScript标识符</li>
        </ul>
        <h4>PipeTransform接口</h4>
        <p>transform方法是管道的基本要素</p>
        <p>PipeTransform接口中定义了它，并用它指导各种工具和编译器</p>
        <p>Super power boost:{{2 | exponentialStrengthPipe: 10}}</p>
        <h4>注意：</h4>
        <ul>
            <li>使用自定义管道的方式和内置管道完全相同</li>
            <li>必须在AppModule的declarations数组中包含这个管道</li>
        </ul>
        <div>Normal power: <input type="text" [(ngModel)]="power"></div>
        <div>Boost factor: <input type="text" [(ngModel)]="factor"></div>
        <p>Super Hero Power: {{power | exponentialStrengthPipe: factor}}</p>
        <h4>变更检测</h4>
        <p>Angular通过变更检测过程来查找绑定值的更改，并在每一次JavaScript事件之后运行：每次按键、鼠标移动、定时器以及服务器的响应</p>
        <p></p>
    </mat-card-content>
</mat-card>