<mat-card class="example-card mar-t-20">
    <mat-card-header>
        <mat-card-title>
            <h4>Pipes</h4>
        </mat-card-title>
        <mat-card-subtitle>描述:类似于filter</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{birthday | date}}</p>
        <h5>管道参数化</h5>
        <p>{{birthday | date:'MM/dd/yy'}}</p>
        <p>{{birthday | date:format}}</p>
        <button (click)="toggleFormat()">toggleFormat</button>
        <h5>链式管道</h5>
        <p>{{birthday | date:format | uppercase}}</p>
        <h5>自定义管道</h5>
        <span class="f-c-999">exponentialStrengthPipe</span>
        <ul>
            <li>管道是一个带有“管道元数据(pipe metadata)”装饰器的类</li>
            <li>这个管道类实现了PipeTransform接口的transform方法，该方法接受一个输入值和一些可选参数，并返回转换后的值</li>
            <li>当每个输入值被传给transform方法时，还会带上另一个参数，比如我们这个管道中的exponent(放大指数)</li>
            <li>通过@Pipe装饰器告诉Angular：这是一个管道。该装饰器是从Angular的core库中引入的</li>
            <li>这个@Pipe装饰器允许我们定义管道的名字，这个名字会被用在模板表达式中</li>
            <li>必须是一个有效的JavaScript标识符</li>
        </ul>
        <h4>PipeTransform接口</h4>
        <p>transform方法是管道的基本要素</p>
        <p>PipeTransform接口中定义了它，并用它指导各种工具和编译器</p>
        <p>Super power boost:{{2 | exponentialStrengthPipe: 10}}</p>
        <h4>注意：</h4>
        <ul>
            <li>使用自定义管道的方式和内置管道完全相同</li>
            <li>必须在AppModule的declarations数组中包含这个管道</li>
        </ul>
        <div>Normal power: <input type="text" [(ngModel)]="power"></div>
        <div>Boost factor: <input type="text" [(ngModel)]="factor"></div>
        <p>Super Hero Power: {{power | exponentialStrengthPipe: factor}}</p>
        <h4>变更检测</h4>
        <p>Angular通过变更检测过程来查找绑定值的更改，并在每一次JavaScript事件之后运行：每次按键、鼠标移动、定时器以及服务器的响应</p>
        <h4>无管道（激进的变更检测）</h4>
        <input type="text" #box 
                (keyup.enter)="addHero(box.value); box.value = ''"
                placeholder="hero name">
        <button mat-raised-button (click)="reset()">Reset</button>
        <div *ngFor="let hero of heroes">{{hero.name}}</div>
        <h4>纯(pure)管道与非纯(impure)管道</h4>
        <div *ngFor="let hero of (heroes | pipeFirst)">{{hero.name}}</div>
        <h5>纯(pure)管道</h5>
        <ul>
            <li>Angular只有在它检测到输入值发生了纯变更时才会执行纯管道</li>
            <li>纯变更是指对原始类型值(String、Number、Boolean、Symbol)的更改</li>
            <li>或者对对象引用(Date、Array、Function、Object)的更改</li>
        </ul>
        <h5>非纯(impure)管道</h5>
        <ul>
            <li>Angular会在每个组件的变更检测周期中执行非纯管道</li>
            <li>非纯管道可能会被调用很多次，和每个按键或每次鼠标移动一样频繁</li>
        </ul>
        <h4>非纯 AsyncPipe</h4>
        <ul>
            <li>AsyncPipe接受一个Promise或Observable作为输入</li>
            <li>并且自动订阅这个输入，最终返回它们给出的值</li>
            <li>AsyncPipe管道是有状态的</li>
            <li>该管道维护着一个所输入的Observable的订阅，并且持续从那个Observable中发出新到的值</li>
        </ul>
        <h5>Async Hero Message and AsyncPipe</h5>
        <p>Message: {{ message$ | async }}</p>
        <div class="button-row">
            <button mat-raised-button (click)="resend()">Resend</button>
        </div>
        <h4>一个非纯而且带缓存的管道</h4>
        <h5>Heroes from JSON File</h5>
        <!-- <div *ngFor="let hero of ('heroes.json' | pipeHttp)">
            {{hero.name}}
        </div> -->
        <!-- <p>
            Heroes as JSON
            {{'heroes.json' | pipeHttp | json}}
        </p> -->
        <img src="https://angular.cn/generated/images/guide/pipes/hero-list.png" class="max-width-50p">
        <h5>说明</h5>
        <ul>
            <li>每个绑定都有它自己的管道实例</li>
            <li>每个管道实例都缓存了它自己的URL和数据</li>
            <li>每个管道实例都只调用一次服务器</li>
        </ul>
        <h4>纯管道与纯函数</h4>
        <ul>
            <li>纯管道使用纯函数</li>
            <li>纯函数是指在处理输入并返回结果时，不会产生任何副作用的函数</li>
            <li>给定相同的输入，它们总是返回相同的输出</li>
        </ul>
        <h4>没有FilterPipe或者OrderByPipe</h4>
        <ul>
            <li>但在Angular中它们没有等价物</li>
            <li>let hero of heroes | orderBy:'name,planet'</li>
        </ul>
    </mat-card-content>
</mat-card>