<mat-card class="example-card mar-t-20">
    <mat-card-header>
        <mat-card-title>
            <h4>User Input</h4>
        </mat-card-title>
        <mat-card-subtitle>
            <ul>
                <li>描述</li>
            </ul>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h4>通过 $event 对象取得用户输入</h4>
        <input type="text" (keyup)="onKey($event)" (keydown)="downKey($event)">
        <button mat-raised-button (click)="clear()">清除</button>
        <p>{{values}}</p>
        <ul>
            <li>$event对象的属性取决于 DOM 事件的类型</li>
            <li>所有标准 DOM 事件对象都有一个target属性， 引用触发该事件的元素</li>
            <li>target是input元素， event.target.value返回该元素的当前内容</li>
        </ul>
        <h4>产生的问题</h4>
        <p>传入 $event 是靠不住的做法</p>
        <p>类型化事件对象揭露了重要的一点，即反对把整个 DOM 事件传到方法中，因为这样组件会知道太多模板的信息</p>
        <h4>解决方法</h4>
        <p>模板引用变量中获得用户输入</p>
        <h5>描述</h5>
        <ul>
            <li>这个模板引用变量名叫box</li>
            <li>在input元素声明，它引用input元素本身</li>
            <li>代码使用box获得输入元素的value值，并通过插值表达式把它显示在p标签中</li>
        </ul>
        <h5>仅只有模版引用变量没有事件</h5>
        <input type="text" #box>
        <p>{{box.value}}</p>
        <h5>有模版引用变量并且有事件</h5>
        <input type="text" #box1 (keyup)="onKeyTemplate(box1)">
        <p>{{box1.value}}</p>
        <ul>
            <li>当创建模版引用时，如果没有绑定事件则不会同步更新</li>
            <li>但是创建另一个模版引用并且有事件，并且该事件被触发则会更新所以模版引用</li>
            <li>除非你绑定一个事件，否则这将完全无法工作</li>
            <li>只有在应用做了些异步事件（如击键），Angular 才更新绑定（并最终影响到屏幕）</li>
        </ul>
        <h4>按键事件过滤（通过key.enter）</h4>
        <p>问题实例</p>
        <ul>
            <li>(keyup)事件处理器监听每一次按键,有时只在意回车键，因为它标志着用户结束输入</li>
            <li>解决这个问题的一种方法是检查每个$event.keyCode，只有键值是回车键时才采取行动</li>
        </ul>
        <p>解决方案：绑定到 Angular 的keyup.enter 模拟事件</p>
        <input type="text" #box2 (keyup.enter)="keyUpEnter(box2.value, 'box2Value')">
        <p>box2.value:{{box2.value}}</p>
        <p>box2Value:{{box2Value}}</p>
        <h4>失去焦点事件 (blur)</h4>
        <input type="text" 
                #box3 (keyup.enter)="keyUpEnter(box3.value, 'box3Value')" 
                (blur)="keyUpEnter(box3.value, 'box3Value')">
        <p>box2.value:{{box3.value}}</p>
        <p>box2Value:{{box3Value}}</p>
    </mat-card-content>
</mat-card>