@import "theme";

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.pull-left {
    float: left;
}
.cursor-pointer {
    cursor: pointer;
}
.main {
    margin-bottom: 64px;
}
//home
.left-nav {
    p:hover {
        background: $b-g-c-666;
    }
}
.flex-left {
    justify-content: flex-start;
}
.z-index-1 {
    z-index: 1;
}
button:focus {
    outline: none !important;
}

nav a:hover {
    text-decoration: none;
}
.mat-tab-link:focus {
    background-color: $b-g-c-fff !important;
}

.block {
    display: block;
}

$w: 200;
$px: 0px;

@while ($w >= 0) {
    .m-l-#{$w} {
        margin-left: $w + $px;
    }
    .m-r-#{$w} {
        margin-right: $w + $px;
    }
    .m-t-#{$w} {
        margin-top: $w + $px;
    }
    .m-b-#{$w} {
        margin-bottom: $w + $px;
    }

    .p-l-#{$w} {
        padding-left: $w + $px;
    }
    .p-r-#{$w} {
        padding-right: $w + $px;
    }
    .p-t-#{$w} {
        padding-top: $w + $px;
    }
    .p-b-#{$w} {
        padding-bottom: $w + $px;
    }
    .w-#{$w} {
        width: $w + $px;
    }
    $w: $w - 5;
}
