@import "theme";

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.pull-left {
    float: left;
}
.cursor-pointer {
    cursor: pointer;
}
.main {
    margin-bottom: 64px;
}
//home
.left-nav {
    p:hover {
        background: $b-g-c-666;
    }
}
.flex-left {
    justify-content: flex-start;
}
.z-index-1 {
    z-index: 1;
}
button:focus {
    outline: none !important;
}

nav a:hover {
    text-decoration: none;
}
.mat-tab-link:focus {
    background-color: $b-g-c-fff !important;
}